LIVEKIT_SANDBOX_ID=<your-sandbox-id>
LIVEKIT_URL=<https://livekit-url>
LIVEKIT_TOKEN_EXCHANGE_URL=<https://token-exchange-url>
LIVEKIT_TOKEN=<your-livekit-token>  # 非必要，可透過 access token 轉換
AUTH_TOKEN=<keycloak-access-token>
AUTH_ID_TOKEN=<keycloak-id-token>
# 如果自己使用 liveKit cloud 的專案的話才需要 key 和 secret 來取得 token
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
DEV_MODE=false

# 暫時使用的測試帳號 以下是為了測試時執行 upgrade.tokens.sh 取得時效內的 token
USERNAME=
PASSWORD=
CLIENT_SECRET=
CLIENT_ID=
TOKEN_LOCATION=